{% extends "base_generic.html" %}
{% block content %}
    {% if user %}
        {% load static %}
        <link rel="stylesheet" href={% static "css/selector.css" %}>
        <div>
            <label>Пользователь: {{ user }}</label>
        </div><br>
        <div>
            {% if msg %}
                <div>
                    <label>📌{{ msg }}</label>
                </div><br>
            {% endif %}
            {% if not msg %}
                <form method="post" action={% url "profile" %}>
            {% else %}
                <form method="post" action={% url "replenishment" %}>
            {% endif %}
                {% csrf_token %}
                <div>
                    <label>Введите сумму пополнения</label>
                    <input type="number" id="repl" name="sum">
                </div><br>
                <div>
                    <label>Подтвердить пополнение</label>
                    <button type="submit" name="accept" id="accept">Готово</button>
                </div>
            </form><br>
            <div>
                <label><a id="profile" href={% url "profile" %}>Перейти в профиль</a></label>
            </div>
        </div>
    {% else %}
        <p>Вы не залогинены</p>
    {% endif %}
{% endblock %}