{% extends "base_generic.html" %}
{% block content %}
    {% if user %}
        {% load static %}
        <link rel="stylesheet" href={% static "css/selector.css" %}>
        <div>
            <div>
                <label for="mark">Марка: </label>
                <label>{{ car.mark }}</label>
            </div>
            <div>
                <label for="model">Модель: </label>
                <label>{{ car.model }}</label>
            </div>
            <div>
                <label for="description">Описание: </label>
                <label>{{ car.description }}</label>
            </div>
            <div>
                <label for="price">Цена: </label>
                <label>{{ car.price }}</label>
            </div>
            <div>
                <label for="date_of_issue">Дата выпуска: </label>
                <label>{{ date_of_issue }}</label>
            </div>
            <div>
                <labeL for="for_sale">Продажа: </labeL>
                <label>{{ for_sale }}</label>
            </div>
        </div>
        {% if for_sale and not flag %}
            <div>
            <form method="post" action={% url "buy_car" %}>
                {% csrf_token %}
                <button type="submit" name="car_id" value="{{ id }}">Купить машину</button>
            </form>
            </div>
            <br>
        {% endif %}
        {% if sr %}
            {% for service in sr %}
                <h4>Запись {{ forloop.counter }}</h4>
                <div>
                    <label>Тип работы: </label>
                    <label>{{ service.type_work }}</label>
                </div>
                <div>
                    <label>Цена: </label>
                    <label>{{ service.price }}</label>
                </div>
                <div>
                    <label>Дата проведения: </label>
                    <label>{{ service.the_date_of_the }}</label>
                </div>
                <br>
            {% endfor %}
        {% endif %}
        {% if flag %}
            <form method="post" action={% url "settings_vehicle" %}>
                {% csrf_token %}
                <div>
                    <button type="submit" name="car_id" value="{{ id }}">Настройки машины</button>
                </div>
            </form>
        {% endif %}
        <div>
            <label><a href={% url "view_cars" %}>Переход к просмотру машин</a></label>
        </div>
    {% else %}
        <p>Вы не залогинены</p>
    {% endif %}
{% endblock %}